<h1 id="tableLabel">Top Stories</h1>

<p>Current top stories from hacker-news</p>

<p *ngIf="!newsStories">
  <em>Loading latest news stories from hacker-news. This will take a minute....</em>
</p>

<div class="container" *ngIf="newsStories">
  <div class="row">
    <input class="mr-1" type="text" [(ngModel)]="searchString"/><button class="mr-1" (click)="search()">Search</button><button (click)="clearSearch()">Clear Search</button>
  </div>
  <p></p>
  <div class="row">
    <button [disabled]="!showPreviousButton" (click)="previous()" class="mr-1">Previous Page</button><button [disabled]="!showNextButton" (click)="next()" class="mr-1">Next Page</button> <strong>{{pageString}}</strong>
  </div>
</div>

<table class="table table-striped" aria-labelledby="tableLabel" *ngIf="newsStories">
  <thead>
  <tr>
    <th>Story</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let newsStory of newsStories">
    <td>
      <a href="{{newsStory.url}}">{{ newsStory.title }}</a>
    </td>
  </tr>
  </tbody>
</table>
